{% extends "base.html" %}
{% load static %}{% load i18n %}
{% block title %}Members{% endblock %}

{% block content %}

  <div class="container" ng-controller="LoginCtrl">
    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">
        <form>
          <div class="form-group">
            <label>用户名</label>
            <input type="text" class="form-control">
          </div>

          <div class="form-group">
            <label>密码</label>
            <input type="password" class="form-control">
          </div>
          <button type="submit" class="btn btn-primary active">登录</button>
          <a class="btn btn-success pull-xs-right" href="#">注册</a>
        </form>
      </div>
    </div>
  </div>
{% endblock content %}
