{% extends "base.html" %}

{% load staticfiles %}

{% block content %}
  <div class="container c-container">
    <div class="row">
      {% for delic in delic_list %}
        <div class="col-md-6 bg-frame">
          <div class="nice-box">
            <div class="box-above">
              <div class="box-img">
                <img class="the-img" src="{% static 'images/delics-default.jpg' %}">
              </div>
              <div class=" box-text">
                <div class="box-title">{{ delic.title }}</div>
                <div class="box-content">{{ delic.content }}</div>
                <p>
                <div class="box-price">¥ {{ delic.price }}</div>
              </div>
            </div>
            <hr>
            <div class="box-bottom">
              <a href="#"><img class="box-avatar" src="{% static 'images/avatar-default.jpg' %}">
                <span class="box-user">{{ delic.user }}</span></a>
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>

{% endblock %}
